
body
{
	background-image:url(images/b.jpg);
	background-size:cover;
}

#btn
{
	font-size:15px;
	border-width:0px;
	border-bottom-width:2.5px;
	border-bottom-color: #337ab7;
	border-radius:15px;
	color: #fff;
	background:blue;
	padding: 5px;
	margin-left:64%;
	width:35%;
	
}

#btn:hover
{
	background: #337ab7;
}

#txt
{
	font-size:15px;	
	border-width:0px;
	border-bottom-width:2.5px;
	border-bottom-color:black;
	
	
	color: black;
	background:  ;
	border-radius:15px;
	width:190;
	padding: 5px;
}

#frm
{
	
	
}

table
{
	font-size:15px;
	padding:4px; 
	
	
}

label
{
		font-size:20px;
}

form
{
	font-size:18px;
	width:23%;
	border-radius:15px;
	margin : 100px auto;
	padding: 50px;
	background-color: rgba(100,100,100,0.9);
	border-bottom-width:0;
	border-bottom-color:none;
	
}

